fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
fetch-timeout=300000
prefer-offline=true
progress=false
audit=false
fund=false
omit-lockfile-registry-resolved=true
package-lock=false

